@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<style>
    .about {
        display: flex;
    }

    .shield {
    }
</style>

<div class="block about">
    <div>
        <img class="shield" src="@Model.ClanDetails.BadgeUrls.Small">
    </div>
    <div>
        <div>Всего очков: @Model.ClanDetails.ClanPoints / @Model.ClanDetails.ClanVersusPoints</div>
        <div>Выиграно войн: @Model.ClanDetails.WarWins</div>
        <div>Проиграно войн: @Model.ClanDetails.WarLosses</div>
        <div>Ничья: @Model.ClanDetails.WarTies</div>
        <div>Побед &divide; поражений: @(((double)Model.ClanDetails.WarWins / Model.ClanDetails.WarLosses).ToString("##.000"))</div>
        <div>Серия побед: @Model.ClanDetails.WarWinStreak</div>
        <div>Публичный варлог: @Model.ClanDetails.IsWarLogPublic</div>
        <div>Необходимо трофеев: @Model.ClanDetails.RequiredTrophies</div>
        <div>Расположение клана: @Model.ClanDetails.Location.Name</div>
        <div>Соклановцы: @Model.ClanDetails.Members/50</div>
    </div>
</div>
<div class="block"><div>@Model.ClanDetails.Description</div></div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">РоЗоВыЙ СлОнИк!</div>

<div style="height: 5000px"></div>
