@page
@using ClashOfClans.Pages.Model
@model IndexModel
@{
    ViewData["Title"] = "";
}

<style>
    .about { display: flex; }

    .shield { }

    .user-details { margin: 8px 0; }

    .user-details a { color: yellow; }

    .user-details a:visited { color: yellow; }
</style>

<div class="block about">
    <div>
        <img class="shield" src="@Model.ClanDetails.BadgeUrls.Small">
    </div>
    <div>
        <div>Всего очков: @Model.ClanDetails.ClanPoints / @Model.ClanDetails.ClanVersusPoints</div>
        <div>Серия побед: @Model.ClanDetails.WarWinStreak</div>
        <div>Выиграно войн: @Model.ClanDetails.WarWins</div>
        <div>Проиграно войн: @Model.ClanDetails.WarLosses</div>
        <div>Ничья: @Model.ClanDetails.WarTies</div>
        <div>Побед &divide; поражений: @(((double) Model.ClanDetails.WarWins / Model.ClanDetails.WarLosses).ToString("##.000"))</div>
        <div>Публичный варлог: @(Model.ClanDetails.IsWarLogPublic ? "Да" : "Нет")</div>
        <div>Необходимо трофеев: @Model.ClanDetails.RequiredTrophies</div>
        <div>Расположение клана: @Model.ClanDetails.Location.Name</div>
        <div>Соклановцы: @Model.ClanDetails.Members/50</div>
    </div>
</div>

@{
    var totalDonation = (double) Model.ClanDetails.MemberList.Sum(m => m.Donations);
    var totalDonationReceived = (double) Model.ClanDetails.MemberList.Sum(m => m.DonationsReceived);
}

<div class="block">
    <div>@Model.ClanDetails.Description</div>
</div>

<div class="block">
    Донат:
    <ol>
        @foreach (var member in Model.ClanDetails.MemberList.OrderByDescending(m => m.Donations))
        {
            <li class="user-details">
                <div style="font-size: larger;">
                    <a href="https://link.clashofclans.com/?action=OpenPlayerProfile&tag=@member.Tag">
                        @member.Name (@member.ExpLevel)
                    </a>
                </div>
                <div>
                    <span>Пожертвовал: </span>@member.Donations
                </div>
                <div>
                    <span>Получил: </span>@member.DonationsReceived
                </div>
                <div>
                    <span>Вклад: </span>@((member.Donations / totalDonation).ToString("P"))
                </div>
            </li>
        }
    </ol>
</div>
<div class="block">
    Ход войны:
    @if (Model.WarlogDetails != null)
    {
        foreach (var detail in Model.WarlogDetails.Items)
        {
            string color1;
            string color2;
            switch (detail.Result)
            {
                case WarResult.Win:
                    color1 = "rgba(128, 255, 128, 0.5)";
                    color2 = "rgba(192, 255, 192, 0.8)";
                    break;
                case WarResult.Lose:
                    color1 = "rgba(255, 128, 128, 0.5)";
                    color2 = "rgba(255, 192, 192, 0.8)";
                    break;
                default:
                    color1 = "rgba(255, 255, 255, 0.3)";
                    color2 = "rgba(255, 255, 255, 0.8)";
                    break;
            }
            <div class="row" style="background-image: linear-gradient(@color1, @color2); display: flex; flex-wrap: nowrap;white-space: nowrap">
                <span style="flex: 1; text-align: end">
                    <span style="font-size: 7px;margin-right: 5px">Optimus Gang</span>
                    <span>@((detail.Clan.DestructionPercentage / 100).ToString("P"))</span>
                    <span>
                        <img src="@detail.Clan.BadgeUrls.Small" width="22">
                    </span>
                </span>
                <span style="flex:1">
                    <span>
                        <img src="@detail.Opponent.BadgeUrls.Small" width="22">
                    </span>
                    <span>@((detail.Opponent.DestructionPercentage / 100).ToString("P"))</span>
                    <span style="font-size: 7px;margin-left: 5px">@detail.Opponent.Name</span>
                </span>
            </div>
        }
    }
</div>